/**
 * CSS for the Refcode module.
 */

code.refcode {
  background: none;
  font-family: inherit;
  font-size: 1em;
  padding: 0;
}
code.refcode-small {
  font-family: monospace;
  font-size: 0.9em;
}
code.refcode-broken {
  color: red;
}
